.backgroundWhite {
    background: rgba(255, 255, 255, 0.12);
    filter: blur(2px);
    width: 120px;
    height: 120px;
    position: absolute;
    border-bottom-right-radius: 250px;
}

.backgroundWhite2 {
  background: rgba(255, 255, 255, 0.12);
  filter: blur(2px);
  width: 280px;
  height: 280px;
  position: absolute;
  border-top-left-radius: 300px;
}

.autofill_bg:autofill {
  -webkit-text-fill-color: #497EDA;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.svgHover:hover svg path {
  fill: #497EDA;
}