.vermas_Button{
    border-radius: 16px;
    background: #C93400;
    padding: 1.7rem 1.5rem 1.7rem 1.5rem;
    color: #FFF;
    font-weight: 700;
    border: 1px solid #C93400;
}

.related_products_container {
    padding: 4rem 0 4rem 0;
    background: radial-gradient(30% 40% at 50% 50%, rgba(73, 126, 218, 0.35) 0%, rgba(201, 52, 0, 0.00) 100%),
    radial-gradient(60% 60% at 50% 50%, rgba(244, 177, 114, 0.35) 0%, rgba(244, 80, 20, 0) 100%);
}

.vermas_Button:hover{
    border-radius: 16px;
    border: 1px solid #C93400;
    background: white;
    color: #C93400;
}


.vermas_Button:hover svg path{
    fill: #C93400;
}

.card_image{
    max-width: 390px;
    height: 400px;
}

.product_image{
    width: auto;
    height: 640px;
    object-fit: fill;
}

.button_consultar{
    border-radius: 16px;
    font-size: 24px;
    background: #497EDA;
    padding: 1.7rem 1.5rem 1.7rem 1.5rem;
    color: #FFF;
    font-weight: 700;
    border: 1px solid #497EDA;
}

.button_consultar:hover{
    border-radius: 16px;
    border: 1px solid #497EDA;
    background: white;
    color: #497EDA;
}

.button_consultar:hover svg path{
    fill: #25D366;
}

.categoryDropdown{
    color: white;
    font-weight: 700;
    background: #C93400;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(201, 52, 0, 0.40);
    border-color: #C93400;
}

.tagButton{
    color: white;
    border-radius: 16px;
    background: #C93400;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(201, 52, 0, 0.40);
    transition: 0.5s;
}

.tagButton:hover{
    border-radius: 16px;
    background: #FEE7E7;
    box-shadow: 0px 10px 15px 0px rgba(201, 52, 0, 0.40), 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    color: #C93400;
}

.related_separator {
    width: 90%;
    margin: auto;
    border: 1px solid #768692;
}
.iniciobtn{
    border-radius: 16px;
    background: #C93400;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    color: #FFF;
    font-weight: 700;
    border: 2px solid #C93400;
    font-size: 16px;
}

.iniciobtn:hover{
    border-radius: 16px;
    border: 2px solid #C93400;
    background: white;
    color: #C93400;
}

.iniciobtn:hover svg path{
    fill: #C93400;
}
@media only screen and (max-width: 640px) {
    .product_image{
        height: 400px;
    }
}

@media only screen and (max-width: 1024px) {
    .related_products_container {
        padding: 4rem 0 4rem 0;
        background: radial-gradient(20% 20% at 50% 50%, rgba(73, 126, 218, 0.35) -40%, rgba(201, 52, 0, 0.00) 100%),
        radial-gradient(60% 60% at 50% 50%, rgba(244, 177, 114, 0.35) 0%, rgba(244, 80, 20, 0) 100%);
    }
}

@media only screen and (max-width: 768px) {
    .related_products_container {
        padding: 4rem 0 4rem 0;
        background: radial-gradient(40% 30% at 50% 50%, rgba(73, 126, 218, 0.35) -40%, rgba(201, 52, 0, 0.00) 100%),
        radial-gradient(60% 60% at 50% 50%, rgba(244, 177, 114, 0.35) 0%, rgba(244, 80, 20, 0) 100%);
    }
}

@media only screen and (max-width: 420px) {
    .related_products_container {
        padding: 4rem 0 4rem 0;
        background: radial-gradient(50% 30% at 50% 50%, rgba(73, 126, 218, 0.35) -40%, rgba(201, 52, 0, 0.00) 100%),
        radial-gradient(70% 70% at 50% 50%, rgba(244, 177, 114, 0.35) 0%, rgba(244, 80, 20, 0) 100%);
    }
}